<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.com/extras/data">

<div class="dropdown-item align-items-center" th:each="item : ${itens}" th:fragment="itensMiniCarrinho">
	<div class="row">
		<div class="text-center col-3">
			<img th:src="${item.produto.urlFoto}" class="img-fluid" style="height: 3rem;">
		</div>
		<div class="col-9">
			<div class="text-gray-900 font-weight-bold" th:text="${item.produto.nome}">Café Kimimo - 250g</div>
			<div class="text-gray-900">
				<span th:text="${#numbers.formatCurrency(item.precoCompra)}">R$ 3,50</span>
				<span class="badge badge-secondary" th:text="${item.produto.cobradoPor.descricao}">Unidade</span>
			</div>
			<div class="text-gray-900"><span th:text="${item.produto.pesoUnidade > 0} ? |Peso unidade: ${{item.produto.descricaoPeso}}| : '&nbsp'">250g</span></div>
		</div>
	</div>
</div>
<div class="dropdown-item align-items-center" th:if="${#lists.isEmpty(itens)}">
	<div class="text-center small text-gray-500">Nenhum produto adicionado.</div>
</div>
<a class="dropdown-item text-center small text-gray-800" th:href="@{/feira/nova}" th:unless="${#lists.isEmpty(itens)}">Finalizar Feira</a>

</html>