<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.com/extras/data">

<th:block th:fragment="supermercadoCategorias">
	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover js-tabela_supermercado-categorias" style="min-width: 500px;">
			<thead>
				<tr>								
					<th style="min-width: 100px;">Categoria</th>
					<th style="width: 8%">Corredor</th>
					<th style="width: 17%">Posição</th>
					<th style="width: 74px; min-width: 74px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="supermercadoCategoria, stat : *{supermercado.supermercadoCategorias}">
					<td th:text="${supermercadoCategoria.categoria.nome}">Categoria</td>
					<td th:text="${supermercadoCategoria.corredor.numero}">1</td>
					<td th:text="${supermercadoCategoria.posicaoCorredor}">2</td>
					<td>
						<a class="btn btn-sm text-primary feira-item-col-acao js-alterar-categoria" title="Alterar" href="#"
							data:id="${supermercadoCategoria.id}" data:categoria-id="${supermercadoCategoria.categoria.id}"
							data:operacao="ALTERAR">
							<i class="fa fa-edit"></i>
						</a> 
						<a class="btn btn-sm text-danger feira-item-col-acao js-remover-categoria" title="Remover" href="#"
							data:url="@{/supermercado-categoria/remover/{categoria}(categoria=${supermercadoCategoria.categoria.id})}"
							data:categoria="${supermercadoCategoria.categoria.nome}"> 
							<i class="fa fa-trash-alt"></i>
						</a>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(supermercado.supermercadoCategorias)}" class="js-linha-nenhuma-categoria-adicionada">
					<td class="text-center" colspan="5">Nenhuma categoria adicionada.</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
</html>