<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">

<head>
	<style>
		.table-col-acoes {
			    width: 130px;
    			min-width: 130px;
		}
	</style>
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Buscar Feira</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<form method="GET" th:object="${feiraFilter}">
						<div class="row">
							<div class="form-group  col-sm-6" >
								<label class="control-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
							</div>
							<div class="form-group  col-sm-6" >
								<label for="inicioDataCompra">Data da Compra</label>
								<div class="form-inline">
									<input type="text" class="form-control js-data" id="inicioDataCompra" 
										th:field="*{de}" autocomplete="off"/>
									<label for="fimDataCompra">&nbsp; até &nbsp;</label>
									<input type="text" class="form-control js-data" id="fimDataCompra" 
										th:field="*{ate}" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-4" >
								<label class="control-label" for="nome">Nome do Produto</label>
								<input type="text" class="form-control" id="nome" th:field="*{nomeItem}"/>
							</div>
						</div>
						
						<button type="submit" class="btn  btn-primary">Pesquisar</button>
					</form>
					<br/>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>								
								<th>Nome</th>
								<th style="width: 14%">Data da compra</th>
								<th style="width: 14%">Itens</th>								
								<th style="width: 14%">Peso</th>
								<th style="width: 14%">Valor Total</th>
								<th class="table-col-acoes"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="feira : ${pagina.conteudo}">
                                 <td th:text="${feira.nome}">Nome</td>
                                 <td th:text="${{feira.dataCompra}}">Data da compra</td>
                                 <td th:text="${feira.quantidadeItens}" class="text-center">15</td>
                                 <td th:text="${feira.descricaoPesoTotal}">8,750Kg</td>
                                 <td th:text="${#numbers.formatCurrency(feira.valorTotal)}">R$ 165,00</td>
                                 <td>
                                 	<a class="btn btn-sm text-primary" style="padding: .20rem;" th:href="@{/feira/email/{id}(id=${feira.id})}" title="Enviar lista por email">
                                         <i class="fa fa-envelope"></i>
                                     </a>
                                 	<a class="btn btn-sm text-primary" style="padding: .20rem;" th:href="@{/feira/lista/{id}(id=${feira.id})}" title="Lista">
                                         <i class="fa fa-list"></i>
                                     </a>
                                     <a class="btn btn-sm text-primary" style="padding: .20rem;" th:href="@{/feira/{id}(id=${feira.id})}" title="Alterar">
                                         <i class="fa fa-edit"></i>
                                     </a>
                                     <a class="btn btn-sm text-danger js-exclusao-btn" style="padding: .20rem;" title="Remover" href="#"
                                     	data:url="@{/feira/{id}(id=${feira.id})}"
										data:objeto="${feira.nome}">
                                         <i class="fa fa-trash-alt"></i>
                                     </a>
                                 </td>
                             </tr>
                             <tr th:if="${pagina.vazia}">
                             	<td colspan="6"><i>Nenhuma feira encontrada.</i></td>
                             </tr>
						</tbody>
					</table>
				</div>
				
				<an:paginacao pagina="${pagina}"/>
			</div>
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/feira.dialogo-exclusao.js}"></script>
	</th:block>
</body>