<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.com/extras/data">

<th:block th:fragment="categoriasSupermercado">
	<div class="dropdown-item align-items-center" th:each="categoria : ${supermercado.categoriasSupermercado}" >
		<div class="row">
			a
		</div>
	</div>
	<div class="feira-nenhum-item align-items-center" th:if="${#lists.isEmpty(supermercado.categoriasSupermercado)}">
		<div class="text-center text-gray-500">Nenhuma categoria adicionada.</div>
	</div>
</th:block>

</html>