<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.com/extras/data">
	
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topbar">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" th:action="@{/compras}" method="GET">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2" name="nome">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
  	<li class="nav-item dropdown no-arrow mx-1">
       <a class="nav-link dropdown-toggle js-mini-carrinho" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-shopping-cart fa-fw"></i>
         <!-- Counter - Alerts -->
         <span class="badge badge-danger badge-counter" 
         	th:text="${quantidadeItensCarrinho}" id="badge-carrinho"
         	th:style="${quantidadeItensCarrinho <= 0} ? 'display:none'">3</span>
       </a>
       <!-- Dropdown - Alerts -->
		<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
			<h6 class="dropdown-header">
				Produtos Adicionados
			</h6>
			<div class="js-itens-mini-carrinho">
       </div>
     </li>
  
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow show">
	<a class="nav-link" href="#" data-toggle="modal" data-target="#sairModal">
		<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
		Sair
	</a>
  </ul>

</nav>
<!-- End of Topbar -->
</html>