<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Lista de Produtos</h6>
				<a th:href="@{/produto/novo}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Cadastrar Produto</a>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div>
					<form method="GET" th:object="${produtoFilter}">
						<div class="row">						
							<div class="form-group  col-sm-6" >
								<label class="control-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
							</div>
						</div>
						
						<button type="submit" class="btn  btn-primary">Pesquisar</button>
					</form>
					<br/>
					<div class="table-responsive-sm">
						<table class="table table-bordered table-striped table-hover tabela-lista-produtos">
							<thead>
								<tr>
									<th class="table-produtos-col-foto"></th>
									<th>Nome</th>
									<td>Categoria</td>
									<th class="table-produtos-col-cobrado-por">Cobrado por</th>
									<th class="table-produtos-col-preco">Preço</th>
									<th class="table-produtos-col-peso-unidade">Peso da Unidade</th>
									<th class="table-produtos-col-acoes"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${pagina.conteudo}">
	                                 <td class="text-center">
	                                 	<img th:src="${item.urlThumbnailFoto}" class="img-responsive"/>	
	                                 </td>
	                                 <td th:text="${item.nome}">Nome</td>
	                                 <td th:text="${item.categoria?.nome}">Categoria</td>
	                                 <td th:text="${item.cobradoPor.descricao}">Tipo de Preço</td>
	                                 <td th:text="|R$ ${{item.preco}}|">Preço</td>
	                                 <td th:text="${item.descricaoPeso}">Peso da Unidade</td>
	                                 <td>
	                                     <a class="btn btn-sm text-primary" style="padding: .20rem;" th:href="@{/produto/{id}(id=${item.id})}" title="Alterar">
	                                         <i class="fa fa-edit"></i>
	                                     </a>
	                                     <a class="btn btn-sm text-danger js-exclusao-btn" style="padding: .20rem;" title="Remover" href="#"
	                                     	data:url="@{/produto/{id}(id=${item.id})}"
											data:objeto="${item.nome}">
	                                         <i class="fa fa-trash-alt"></i>
	                                     </a>
	                                 </td>
	                             </tr>
	                             <tr th:if="${pagina.vazia}">
	                             	<td colspan="6"><i>Nenhum produto cadastrado.</i></td>
	                             </tr>
							</tbody>
						</table>
					</div>
					
					<an:paginacao pagina="${pagina}"/>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/feira.dialogo-exclusao.js}"></script>
	</th:block>
</body>