<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">
	
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/listagem.css}">
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">

			<div class="col-md-7">
				<div class="card shadow mb-4">
	                <div class="card-header py-3">
	                  <h6 class="m-0 font-weight-bold text-primary">Meu Carrinho</h6>
	                </div>
	                <div class="card-body">
						<div class="card mb-3" th:each="item : ${itens}">
							<div class="card-body" >
								<div class="row" >
									<div class="text-center col-md-3">
										<img th:src="${item.produto.urlFoto}" class="img-fluid" style="height: 6rem;">
									</div>
									<div class="text-left col-md-8">
										<div class="font-weight-bold text-gray-900" th:text="${item.produto.nome}">Café Kimimo - 250g</div>
										<div class="text-gray-900">
											<span th:text="|R$ ${{item.produto.preco}}|">R$ 3,50</span>
											<span class="badge badge-secondary" th:text="${item.produto.cobradoPor.descricao}">Unidade</span>
										</div>
										<div class="text-gray-900" th:text="${item.produto.pesoUnidade > 0} ? |Peso: ${{item.produto.descricaoPeso}}| : '&nbsp'">250g</div>
									</div>
									<div class="text-left col-md-1">
										<a href="#" class="btn btn-light btn-circle btn-sm" >
						                	<i class="fas fa-trash-alt"></i>
						                </a>
									</div>
								</div>
							</div>
							<div class="card-footer py-3">
								<div class="row text-gray-900">
									<div class="col-6 ">
										<span class="font-weight-bold">Quantidade:</span>
						                <a href="#" class="btn btn-light btn-circle btn-sm js-diminuir-quantidade-item-btn" data:produto-id="${item.produto.id}">
						                	<i class="fas fa-minus-circle"></i>
						                </a>
										<input type="text" class="carrinho-item__quantidade js-listagem-quantidade-item" 
											th:value="${item.quantidade}" maxlength="4" th:classappend="|${item.produto.cobradoPor.classeCss}-compras|"
											data:produto-id="${item.produto.id}" th:id="|item_${item.produto.id}|"/>
										<a href="#" class="btn btn-light btn-circle btn-sm js-aumentar-quantidade-item-btn" data:produto-id="${item.produto.id}">
						                	<i class="fas fa-plus-circle"></i>
						                </a>
									</div>
									<div class="col-6">
										<div class="row">
											<div class="col-6">
												<span class="font-weight-bold">Peso: </span>[[${item.descricaoPeso}]]
											</div>
											<div class="col-6 text-right">
												<span class="font-weight-bold">R$ [[${{item.valorTotal}}]] </span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	              	</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
	                  <h6 class="m-0 font-weight-bold text-primary">Resumo</h6>
	                </div>
	                <div class="card-body">
		                
		              </div>
		       </div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/compras.items.js}"></script>
	</th:block>
</body>