<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">
	
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/carrinho.css}">
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">

			<div class="col-lg-7">
				<div class="card shadow mb-4">
	                <div class="card-header py-3">
	                  <h6 class="m-0 font-weight-bold text-primary">Meu Carrinho</h6>
	                </div>
	                <div class="card-body">
						<div class="card mb-3" th:each="item : ${feira.itens}" th:id="|div-item-${item.produto.id}|">
							<div class="card-body" >
								<div class="row" >
									<div class="text-center col-3">
										<img th:src="${item.produto.urlFoto}" class="img-fluid" style="height: 6rem;">
									</div>
									<div class="text-left col-7">
										<div class="font-weight-bold text-gray-900" th:text="${item.produto.nome}">Café Kimimo - 250g</div>
										<div class="text-gray-900">
											<span th:text="|R$ ${{item.produto.preco}}|">R$ 3,50</span>
											<span class="badge badge-secondary" th:text="${item.produto.cobradoPor.descricao}">Unidade</span>
										</div>
										<div class="text-gray-900" th:text="${item.produto.pesoUnidade > 0} ? |Peso: ${{item.produto.descricaoPeso}}| : '&nbsp'">250g</div>
									</div>
									<div class="text-right col-2">
										<a href="#" class="btn btn-light btn-circle btn-sm js-remover-item" data:produto-id="${item.produto.id}" >
						                	<i class="fas fa-trash-alt"></i>
						                </a>
									</div>
								</div>
							</div>
							<div class="card-footer py-3">
								<div class="row text-gray-900">
									<div class="col-sm-7 carrinho-valores mb-1">
										<th:block th:replace="~{compras/fragments/quantidade-itens :: quantidade-itens}"></th:block>
									</div>
									<div class="col-sm-5 carrinho-totais-item text-sm-right">
										<div class="mb-1">
											<span class="font-weight-bold">Peso: </span>
											<span th:id="|peso-produto-${item.produto.id}|">[[${item.descricaoPeso}]]</span>
										</div>
										<div class="carrinho-valor-total font-weight-bold">
											<span
												th:id="|valor-total-produto-${item.produto.id}|" th:text="${#numbers.formatCurrency(item.valorTotal)}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
	              	</div>
				</div>
			</div>
			
			<div class="col-lg-5">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
	                  <h6 class="m-0 font-weight-bold text-primary">Resumo</h6>
	                </div>
	                <div class="card-body">
	                	<div class="mb-3 font-weight-bold">
		                	Quantidade de Itens: 
		                	<span class="text-gray-900" th:text="${feira.quantidadeItens}" id="feira-quantidade-itens">
		                		15
		                	</span>
		                </div>
		                <hr class="sidebar-divider my-0">
		                <div class="mb-3 mt-3 font-weight-bold">
		                	Peso Total: 
		                	<span class="text-gray-900" th:text="|${#numbers.formatDecimal(feira.pesoTotal,1,3)}Kg|" id="feira-peso-total">
		                		9,560Kg
		                	</span>
		                </div>
		                <hr class="sidebar-divider my-0">
		                <div class="mb-3 mt-3 font-weight-bold">
	                		Valor Total: 
	                		<span class="text-gray-900" th:text="${#numbers.formatCurrency(feira.valorTotal)}" id="feira-valor-total">
	                			R$ 185,00
	                		</span>
	                	</div>
		            </div>
		       </div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/compras.items.js}"></script>
		<script th:src="@{/javascript/carrinho.js}"></script>
		<script th:src="@{/javascript/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-switch-quantidade-peso').bootstrapSwitch()
		</script>
	</th:block>
</body>