<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br">
	
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/listagem.css}">
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">

			<div class="col-xl-4 col-lg-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-1">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="text-center mx-auto">
								<img src="/fotos/55a4f5df-cf29-4189-94eb-83f7476ad662_kimimo.jpg" class="img-fluid px-3 px-sm-4 mt-3 mb-4">
							</div>
						</div>
						<div class="row">
							<div class="col-7">
								<div class="font-weight-bold text-gray-900">Café Kimimo - 250g</div>
								<div class="badge badge-secondary">Unidade</div>
								<div class="text-gray-900 js-peso-unidade">250g</div>
							</div>
							<div class="col-5 text-gray-900 text-right compras-listagem-valores">
								<div style="font-size: .8rem">
									<input class="compras-listagem-valores__quantidade js-listagem-quantidade-item" type="text" value="0" maxlength="4"/>
									<span>x R$ 3,50</span>
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-900">R$ 3,50</div>
								<div class="h5 mb-0 font-weight-bold text-gray-900">1000g</div>
								<div>
									<a href="#" class="btn btn-sm btn-primary btn-icon-split"> 
										<span class="icon text-white-50"> <i class="fas fa-shopping-cart"></i>
										</span> <span class="text">Adicionar</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/compras.items.js}"></script>
	</th:block>
</body>