<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">
	
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/listagem.css}">
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">

			<div class="col-xl-3 col-lg-4 col-sm-6 mb-4" th:each="item : ${itens}">
				<div class="card border-left-primary shadow h-100 py-1">
					<div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row">
							<div class="text-center mx-auto">
								<img th:src="${item.produto.urlFoto}" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 8rem;" >
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="font-weight-bold text-gray-900" th:text="${item.produto.nome}">Café Kimimo - 250g</div>
								<div class="text-gray-900">
									<span th:text="|R$ ${{item.produto.preco}}|">R$ 3,50</span>
									<span class="badge badge-secondary" th:text="${item.produto.cobradoPor.descricao}">Unidade</span>
								</div>
								<div class="text-gray-900" th:text="${item.produto.pesoUnidade > 0} ? |Peso: ${{item.produto.descricaoPeso}}| : '&nbsp'">250g</div>
								<div class="row" style="font-size: .8rem">
									<div class="col-12">
										Qtd:
										<a href="#" class="btn btn-light btn-circle btn-sm js-diminuir-quantidade-item-btn" data:produto-id="${item.produto.id}">
						                	<i class="fas fa-minus-circle"></i>
						                </a>
										<input type="text" class="compras-listagem-valores__quantidade js-listagem-quantidade-item" 
											th:value="${item.quantidade}" maxlength="4" th:classappend="|${item.produto.cobradoPor.classeCss}-compras|"
											data:produto-id="${item.produto.id}" th:id="|item_${item.produto.id}|"/>
										<a href="#" class="btn btn-light btn-circle btn-sm js-aumentar-quantidade-item-btn" data:produto-id="${item.produto.id}">
						                	<i class="fas fa-plus-circle"></i>
						                </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/compras.items.js}"></script>
	</th:block>
</body>