<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br"
	xmlns:data="http://www.thymeleaf.com/extras/data">
	
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/listagem.css}">
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
	<div layout:fragment="conteudo" class="container-fluid">
		<div class="row">

			<div class="col-xl-3 col-lg-4 col-sm-6 mb-4" th:each="item : ${itens}">
				<div class="card border-left-primary shadow h-100 py-1">
					<div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
						<div class="row">
							<div class="text-center mx-auto">
								<img th:src="${item.produto.urlFoto}" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 8rem;" >
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="font-weight-bold text-gray-900" th:text="${item.produto.nome}">Café Kimimo - 250g</div>
								<div class="text-gray-900">
									<span th:text="|R$ ${{item.produto.preco}}|">R$ 3,50</span>
									<span class="badge badge-secondary" th:text="${item.produto.cobradoPor.descricao}">Unidade</span>
								</div>
								<div class="text-gray-900" th:text="${item.produto.pesoUnidade > 0} ? |Peso: ${{item.produto.descricaoPeso}}| : '&nbsp'">250g</div>
								<div class="row mb-1">
									<div class="col-9">
										<span th:if="${item.produto.cobradoPor.unidade}" th:text="'&nbsp'"></span>
										<input type="checkbox" th:id="|switch-quantidade-peso-${item.produto.id}|" class="js-switch-quantidade-peso" 
											data:produto-id="${item.produto.id}" data:por-quantidade="${item.porQuantidade}"
											th:unless="${item.produto.cobradoPor.unidade}" th:checked="${item.porQuantidade}" th:value="${item.porQuantidade}"
											data-size="small" data-off-color="danger" data-on-text="Quantidade" data-off-text="Peso">
									</div>
								</div>
								<div class="row" style="font-size:.8rem">
									<div class="col-12">
										<span th:id="|item-descricao-${item.produto.id}|" th:text="${item.porQuantidade ? 'Qtd:' : 'Peso:'}"></span>
										<a href="#" class="btn btn-light btn-circle btn-sm js-diminuir-quantidade-item-btn" 
											data:produto-id="${item.produto.id}" data:input-id="${item.porQuantidade} ? |item_quantidade-${item.produto.id}| : |item_peso-${item.produto.id}">
						                	<i class="fas fa-minus-circle"></i>
						                </a>
										<input type="text" class="compras-input_valor js-compras-quantidade-item" 
											th:value="${item.quantidade}" maxlength="4" th:style="${!item.porQuantidade} ? 'display: none' : '' "
											data:produto-id="${item.produto.id}" th:id="|item_quantidade-${item.produto.id}|"/>
										<input type="text" class="compras-input_valor js-compras-peso-item" th:style="${item.porQuantidade} ? 'display: none' : '' "
											th:value="${item.quantidade}" maxlength="4"
											data:produto-id="${item.produto.id}" th:id="|item_peso-${item.produto.id}|"/>
										<a href="#" class="btn btn-light btn-circle btn-sm js-aumentar-quantidade-item-btn" 
											data:produto-id="${item.produto.id}" data:input-id="${item.porQuantidade} ? |item_quantidade-${item.produto.id}| : |item_peso-${item.produto.id}">
						                	<i class="fas fa-plus-circle"></i>
						                </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<th:block layout:fragment="extra-javascript">
		<script th:src="@{/javascript/compras.items.js}"></script>
		<script th:src="@{/javascript/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-switch-quantidade-peso').bootstrapSwitch()
		</script>
	</th:block>
</body>